body {
    background-image: url(background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

.subtitle {
    color: white;
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 10px;
}

button {
    padding: 10px 20px;
    font-size: 2vw;
    background-color: #404b6b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 100;
    max-width: 100%;
}


.contact {
    margin-top: 10%;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

img {
    height: 10vh;
    width: 10vh;
    border-radius: 100%;
}

img:hover {
    transform: translateY(-10px);
    transition: 0.3s;
}