body {
    background-image: url(background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

.subtitle {
    position: absolute;
    top: 5vh;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    z-index: 100;
}

button {
    padding: 10px 20px;
    font-size: 2vw;
    background-color: #404b6b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 100;
    width: 11vw;
}

img:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.project {
    margin-top: 15%;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}


.project-title {
    background-color: rgb(49, 55, 97);
    opacity: 0.8;
    color: white;
    font-size: 1.5vw;
    border-radius: 10px;
    text-align: center;
    width: 30vw;
    max-height: 25vw;;
}

.project-title img {
    height: 50%;
    margin-top: 5%;
    width: 80%;
}
