body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    color: rgb(195, 44, 69);
    text-align: center;
}

img {
    position: relative;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.nav-button-services, .nav-button-gallery, .nav-button-contact {
    display: inline-block;
    background-color: #927644; /* Blue color */
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: background 0.3s;
    margin: 5px; /* Adds spacing between buttons */
}

.nav-button-services:hover {
    background-color: #e05125; /* Darker blue when hovered */
}

.nav-button-gallery:hover {
    background-color: #e05125; /* Darker blue when hovered */
}

.nav-button-contact:hover {
    background-color: #e05125; /* Darker blue when hovered */
}


.nav-button-home {
    background-color: #927644; /* Blue color */
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    position: fixed;
    bottom: 0;
    right: 0;
}

.nav-button-home:hover {
    background-color: #e05125; /* Darker blue when hovered */
}

header {
    color: rgb(195, 44, 69);
    padding: 0.5em 0;
    text-align: center;
}

.heading-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

  
h1 {
    font-family: Fantasy;
}


nav {
    display: flex;
    justify-content: center;
}

nav a {
    color: rgb(195, 44, 69);
    text-decoration: none;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(195, 44, 69);
    padding: 10px;
    border-radius: 10px;
}

.body-content, nav, section, footer {
    display: none;
}


footer {
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.item {
    text-align: left;
}

.price {
    text-align: right;
}

.services {
    background-color: #fce4a5;
    width: 120%;
    padding: 20px;
    overflow-y: scroll;
    max-height: 400px;
}

.categories {
    font-weight: bolder;
    font-size: 150%;
    font-family: Cambria;
    text-align: center;
    color: rgb(63, 100, 43);
}

.button-translating {
    position: fixed;
    top: 0;
    right: 0;
}

@media screen and (max-width: 399px) {
    .heading-content {
        font-size: 0.4rem;
    }
    .nav-button-services, .nav-button-gallery, .nav-button-contact {
        padding: 5px 10px;
        font-size: 15px;
    }
    .services {
        margin-left: -20%;
    }
    .nav-button-home {
        padding: 5px 10px;
        font-size: 15px;
    }
}

@media screen and (min-width: 400px) and (max-width: 576px) {
    .heading-content {
        font-size: 0.5rem;
    }
    .nav-button-services, .nav-button-gallery, .nav-button-contact {
        padding: 5px 10px;
        font-size: 15px;
    }
    .services {
        margin-left: -20%;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    .heading-content {
        font-size: 1.25rem;
    }
    .nav-button-services, .nav-button-gallery, .nav-button-contact {
        padding: 5px 10px;
        font-size: 22px;
    }
    .services {
        width: 130%;
        margin-left: -20%;
    }
    .nav-button-home {
        padding: 5px 10px;
        font-size: 25px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .heading-content {
        font-size: 1.5rem;
    }
    .nav-button-services, .nav-button-gallery, .nav-button-contact {
        padding: 5px 10px;
        font-size: 35px;
    }
    .services {
        width: 130%;
        margin-left: -20%;
        overflow-y: scroll;
        max-height: 400px;
    }
    .item, .price, .categories {
        font-size: 30px;
    }
    .nav-button-home {
        padding: 5px 10px;
        font-size: 35px;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .heading-content {
        font-size: 1.3rem;
    }
    .nav-button-services, .nav-button-gallery, .nav-button-contact {
        padding: 10px 20px;
        font-size: 40px;
    }
    .services {
        width: 130%;
        margin-left: -20%;
        overflow-y: scroll;
        max-height: 500px;
    }
    .item, .price, .categories {
        font-size: 25px;
    }
    .nav-button-home {
        padding: 10px 20px;
        font-size: 40px;
    }
    .contact {
        font-size: 25px;
    }
}

@media only screen and (min-width: 1441px) {
    .heading-content {
        font-size: 2rem;
    }
    .nav-button-services, .nav-button-gallery, .nav-button-contact {
        padding: 10px 20px;
        font-size: 45px;
    }
    .services {
        width: 130%;
        margin-left: -20%;
        overflow-y: scroll;
        max-height: 600px;
    }
    .item, .price, .categories {
        font-size: 45px;
    }
    .nav-button-home {
        padding: 10px 20px;
        font-size: 40px;
    }
    .contact {
        font-size: 25px;
    }
}